{% extends "base_frontend.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card center">
            <div class="card-header card-header-primary">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>


            </div>
            <div class="card-body">

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {% for field in form %}
                            <p>
                          
                                {% for error in field.errors %}
                                  <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Nouveau mot de passe :*</label>
                                    {{ form.password1|add_class:'form-control' }}
                                </div>
                            </div>
                           
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nouveau mot de passe (Confirmation)*</label>
                                        {{ form.password2|add_class:'form-control' }}
                                    </div>
                                </div>
                           
                             </div>
                            <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Modifier' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}