{% extends 'base_frontend.html' %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="card">
            	<div class="card-header card-header-primary">
                      <h4 class="card-title"> {% trans "Change Password" %}</h4>
                </div>
                	<div class="card-body">


					    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
					        {% csrf_token %}
					        
					        {% for field in form %}
                          <p>
                            {% if field.help_text %}
                              <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </p>
                        {% endfor %}
					  	<div class="row">
	                        <div class="col-md-12">
	                            <div class="form-group">
	                                <label class="bmd-label-floating">Mot de passe actuel*</label>
						  			{{ form.oldpassword|add_class:'form-control' }}
	                            </div>
	                        </div>
                       
                   		</div>
					  	<div class="row">
	                        <div class="col-md-12">
	                            <div class="form-group">
	                                <label class="bmd-label-floating">Nouveau mot de passe *</label>
						  			{{ form.password1|add_class:'form-control' }}
	                            </div>
	                        </div>
                       
                   		 </div>
               		   	<div class="row">
	                        <div class="col-md-12">
	                            <div class="form-group">
	                                <label class="bmd-label-floating">Nouveau mot de passe (Confirmation)*</label>
						  			{{ form.password2|add_class:'form-control' }}
	                            </div>
	                        </div>
                       
                   		</div>
					  <button type="submit" class="btn btn-primary" name="action">Enregistrer</button>
					    </form>

    				</div>
    			</div>
		</div>
{% endblock %}
