      <div class="dropdown">
        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
          <a class="dropdown-item openModal" data-toggle="modal" data-target="#updateEtat{{ record.id }}" data-cmd="{{record.numero_commande}}" data-id={{ record.id }}>Changer l'état</a>
          <a class="dropdown-item" href="{% url 'commandes:commande_view' record.id %}">Détail</a>

        </div>
      </div>