{% extends "base.html" %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}


{% block header %}

<div class="row align-items-center py-4">
    <div class="col-lg-6 col-7">
      <h6 class="h2 text-white d-inline-block mb-0">Clients</h6>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item">Clients</li>

          <li class="breadcrumb-item active" aria-current="page">Liste</li>
        </ol>
      </nav>
    </div>

</div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12">
           <!-- Card header -->
          <div class="card">
            <div class="card-header">
              Rechercher
            </div>
            <div class="card-body">
                {% if filter %}
                <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button '<i class="fa fa-search"></i>' %}
                </form>
                {% endif %}
            </div>
          </div>
          <!-- Card header -->
          <div class="card bg-default">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Liste des clients</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
                {% render_table table %}

            </div>

      
          </div>
        </div>

    </div>
{% endblock %}
