{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="row align-items-center py-4">
    <div class="col-lg-6 col-7">
      <h6 class="h2 text-white d-inline-block mb-0">Utilisateurs</h6>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item">Clients</li>

          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>

</div>
{% endblock %}
{% block content %}

 <div class="container-fluid mt--6">
     
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="{% static 'assets/img/theme/img-1-1000x600.jpg' %}" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    {% if  user.person.photo %}
                        <img src="{{ user.person.photo.url }}" class="rounded-circle">
                    {% else %}
                        <img src="{% static 'assets/img/theme/team-4.jpg' %}" class="rounded-circle">

                    {% endif %}
                  </a>

                </div>
              </div>
            </div>
             <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">

              </div>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Commandes</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Réclamations</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Profile </h3>
                </div>

              </div>
            </div>
            <div class="card-body">
               
              
                <h6 class="heading-small text-muted mb-4">Informations Personnelles</h6>
                <div class="pl-lg-4">

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        Nom : <label class="form-control-label" for="input-first-name">{{user.last_name}} </label> 
                        
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        Prénoms :
                        <label class="form-control-label" for="input-last-name">{{user.first_name}}</label>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        Sexe:
                        <label class="form-control-label" for="input-first-name">{{user.person.sexe}}</label>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        Date de naissance :
                        <label class="form-control-label" for="input-last-name">{{user.person.birth_date|date:' j/F/Y'}}</label>
                         
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        Tél:
                        <label class="form-control-label" for="input-first-name">{{user.person.tel}}</label>
                       
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        Profession :
                        <label class="form-control-label" for="input-last-name">{{user.person.job}}</label>
                          
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        Email :
                        <label class="form-control-label" for="input-first-name">{{ user.email }}</label>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        Login :
                        <label class="form-control-label" for="input-last-name">{{user.username}}</label>
                         
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
 <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        Adresse
                        <label class="form-control-label" for="input-address">{{user.person.adresse}}</label>

                      </div>
                    </div>
                  </div>

              </div>

            </div>
          </div>
        </div>
   
{% endblock %}
