{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block header %}

<div class="row align-items-center py-4">
    <div class="col-lg-6 col-7">
      <h6 class="h2 text-white d-inline-block mb-0">Utilisateurs</h6>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item">Utilisateurs</li>

          <li class="breadcrumb-item active" aria-current="page">Modifier</li>
        </ol>
      </nav>
    </div>

</div>
{% endblock %}
{% block content %}
    <form method="post" autocomplete="off">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="row card-header card-header-primary">
                      <div class="col-md-8">
                        <h4 class="card-title">Modifier un utilisateur</h4>
                      </div>
                      <div class="col-md-4">

                        <span><a href="{% url 'utilisateurs:user_password_change' user.id %}" class="text-right btn btn-primary" title="Modifier le mot de passe">Mot de passe</a></span>
                      </div>
                    </div>
                    <div class="card-body">
                        {{ user_form.errors }}
                        {% comment %} {% for field in form_person %}
                          <p>
                            {{ field.birth_date }}<br>
                            {{ field }}
                            {% if field.help_text %}
                              <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </p>
                        {% endfor %}{% endcomment %}

                        

                            <!-- Infos personnel -->
                            <h6 class="heading-small text-muted mb-4">Informations Personnelles</h6>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nom *</label>
                                        {{ form_person.last_name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Prénoms *</label>
                                        {{ form_person.first_name }}
                                    </div>
                                </div>

                            </div>

                           <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Email </label>
                                   {{ form_person.email }}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Login *</label>
                                   {{ form_person.username|add_class:'form-control' }}
                                </div>
                              </div>
                            </div>

                             <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Sexe *</label>
                                   {{ form_person.sexe }}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Date de naissance *</label>
                                    {{ form_person.birth_date }}
                                    {% if form_person.birth_date.help_text %}
                                    <small style="color: grey">{{ form_person.birth_date.help_text }}</small>
                                  {% endif %}
                                </div>
                              </div>
                            </div>

                             <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Tél *</label>
                                    {{ form_person.tel }}

                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">

                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="bmd-label-floating">{{ form_person.adresse.label }}</label>
                                   {{ form_person.adresse }}
                                </div>
                              </div>
                            
                            </div>
                        <hr class="my-4" />
                         <!-- Piece identite -->
                            <h6 class="heading-small text-muted mb-4">Pièce d'identité</h6>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">{{ form_identity.type.label }} *</label>
                                   {{ form_identity.type }}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">{{ form_identity.reference.label }} *</label>
                                   {{ form_identity.reference }}
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">{{ form_identity.initiated_at.label }} *</label>
                                   {{ form_identity.initiated_at }}                           
                                   <p style="color: red">{{ form_identity.initiated_at.error }}</p>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">{{ form_identity.expired_at.label }} *</label>
                                   {{ form_identity.expired_at }}
                                </div>
                              </div>
                            </div>

                             <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating"> Image </label>
                                   {{ form_identity.photo }}
                                </div>
                              </div>
                              <div class="col-md-6">
                               
                              </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Personne à prévenir -->
                            <h6 class="heading-small text-muted mb-4">Personne à prévenir</h6>

                            <div class="row">

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Nom</label>
                                   {{ form_identity.contact_name }}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Tél </label>
                                   {{ form_identity.contact_tel }}
                                </div>
                              </div>
                            </div>
                           

                              <button type="submit" class="btn btn-primary pull-right">Modifier</button>

                        </div>
                  </div>
            </div>
            <div class="col-md-4">

              <div class="card card-profile">
                  <img src="{% static 'assets/img/theme/img-1-1000x600.jpg' %}" alt="Image placeholder" class="card-img-top">
                  <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                      <div class="card-profile-image">
                        <a href="#">
                          {% if  user.photo %}
                              <img src="{{ user.photo.url }}" class="rounded-circle">
                          {% else %}
                              <img src="{% static 'assets/img/theme/user_icon.png' %}" class="rounded-circle">

                          {% endif %}
                        </a>

                      </div>
                    </div>
                  </div>
                   <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">

                    </div>
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-12">
                          <br><br>
                          <div class="form-group">
                             <div class="custom-file">
                                  {{ user_form.photo }}
                                  <label class="custom-file-label" for="customFileLang">Select file</label>
                              </div>
                          </div>
                      </div>
                    </div>
                  

              
                </div>
              </div>



               
            </div>
        </div>
    </form>

{% endblock %}