{% extends 'base_frontend.html' %}
{% load i18n %}

{% load widget_tweaks %}
{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Faire une réclamation </h3>
                    </div>
                  </div>
                </div>
              <div class="card-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                     <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">N° Commande </label>
                                {{ form.commande }}
                            </div>
                          </div>
                    </div>
                     <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Type </label>
                                {{ form.type }}
                            </div>
                          </div>
                    </div>
                    
                    <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Photo </label>
                                <div>
                                <div class="custom-file">
                                    {{ form.image }}
                                    <label class="custom-file-label" for="customFileLang"></label>
                                </div>
                                </div>
                            </div>
                          </div>
                    </div>
                     <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Observations </label>
                                {{ form.observation }}
                            </div>
                          </div>
                    </div>
                    
                   <button type="submit" class="btn btn-light">Envoyer</button>
            </form>
              </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
          <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Mes réclamations</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="nom">#</th>
                    <th>Fait le:</th>
                    <th scope="col" class="sort" data-sort="nom">N° commande</th>
                    <th scope="col" class="sort" data-sort="quartier">Incident</th>
                    <th scope="col" class="sort" data-sort="quartier">Image</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for r in reclamations %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ r.created_at|date:'j F, Y'}}</td>
                    <td>
                        {{ r.commande.numero_commande|upper}}
                    </td>
                    <td class="budget">
                        {{ r.type }}
                    </td>
                    <td>
                        <img>
                    </td>
                    <td class="">
                        <a href="#" class="btn btn-info" type="button" id="checkStatus" data-url="{% url 'commandes:handler_reclamation_cmd' r.commande.id %}"><i class="fa fa-eye" title="Voir l'état de la commande"></i></a>
                    </td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Card footer -->
        {% comment %}  <div class="pagination">
                <span class="step-links">
                    {% if contacts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ contacts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                        <a href="?page={{ contacts.next_page_number }}">next</a>
                        <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>{% endcomment %}
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

    </div>
<!-- Dark table -->
{% endblock %}

{% block javascript %}
    <script>
      $(document).on('click','#checkStatus', function () {
        var url = $(this).attr('data-url');
        console.log(url);
         $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if(data.statut == "success"){
                    //location.reload();
                    console.log(data);
                }
            },
            error: function(res){
              console.log(res);
            }
        });
  });
        /* Swal.fire({
          title: 'Vérification en cours',
          showCancelButton: false,
          showConfirmButton: false,
          showLoaderOnConfirm: false,
          showSpinner: true,
          function: () => {
            $.ajax({
            url: url,
            data: {'id':cmd_id},
            dataType: 'json',
            success: function (data) {
                if(data.statut == "success"){
                    console.log(data);
                }
            }
        });
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.value) {
              console.log(result);
       {% comment %}     Swal.fire({
              title: `${result.value.login}'s avatar`,
              imageUrl: result.value.avatar_url
            }){% endcomment %}
          }
        });*/
    
    </script>

{% endblock %}