{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="row align-items-center py-4">
    <div class="col-lg-6 col-7">
      <h6 class="h2 text-white d-inline-block mb-0">Commandes</h6>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active" aria-current="page">Détail commande</li>
        </ol>
      </nav>
    </div>

</div>
{% endblock %}


{% block content %}

 <div class="container-fluid mt--6">
      <div class="row">
       
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-2">
                  <h3 class="mb-0"># {{commande.numero_commande|upper}} </h3>
                </div>
                <div class="col-10 text-right">
                  <a href="#historique" class="btn btn-primary">Historique</a>
                  <a href="{% url 'commandes:generate_facture' commande.numero_commande %}" class="btn btn-primary" title="Imprimer la facture"><i class="fa fa-print"></i></a>
                </div>


              </div>
            </div>
            <div class="card-body">

              <!-- Section 1 -->

               
              <div class="row">
                <div class="col-md-6">
                    <h6 class="heading-small text-muted mb-4">Détails Commande</h6>
                    <hr class="my-4" />

                    <div class="pl-lg-4">

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          Date départ : <label class="form-control-label" for="input-first-name"> {{ commande.date_depot|date:'j/m/Y' }}</label> 
                          
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          Date arrivée :
                          <label class="form-control-label" for="input-last-name">{{ commande.date_reception|date:'j/m/Y' }}</label>
                          
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          Ville départ : <label class="form-control-label" for="input-first-name"> {{commande.city_depart}}</label> 
                          
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          Ville arrivée :
                          <label class="form-control-label" for="input-last-name">{{commande.city_arrive}}</label>
                          
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          Package d'envoi : <label class="form-control-label" for="input-first-name">{{ commande.package }} </label> 
                          
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          Assurance :
                          <label class="form-control-label" for="input-last-name">{{ commande.insurance }}</label>
                          
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          Prix:
                          <label class="form-control-label" for="input-first-name"></label>
                            {% if commande.price %}{{ commande.price }} {% endif %}
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          Commission :
                          <label class="form-control-label" for="input-last-name">{% if commande.commission %}{{commande.commission}}{% endif %}</label>
                           
                        </div>
                      </div>
                    </div>

                  <div class="row">
                      
                      <div class="col-lg-6">
                        <div class="form-group">
                          Etat :
                          <label class="form-control-label" for="input-last-name">{{commande.getEtatLibelle}}</label>
                           
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-md-6">
                    <h6 class="heading-small text-muted mb-4">Client</h6>
                                        <hr class="my-4" />

                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            Nom : <label class="form-control-label" for="input-first-name">{{commande.colis.client.last_name}} </label> 
                            
                          </div>
                         </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            Prénoms :
                            <label class="form-control-label" for="input-last-name">{{commande.colis.client.first_name}}</label>
                            
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            Tél:
                            <label class="form-control-label" for="input-first-name">{{ commande.colis.client.person.tel}}</label>
                           
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            Email :
                            <label class="form-control-label" for="input-last-name">{{ commande.colis.client.email}}</label>
                              
                          </div>
                        </div>
                      </div>

                    
                    </div>
                </div>

              </div>

          <!-- Section 1 -->

          <!-- Section 2 -->
              <br>
              <div class="row">

                <div class="col-md-6">

                    <h6 class="heading-small text-muted mb-4">Colis</h6>
                    <hr class="my-4" />

                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            {% if commande.colis.image %}
                            <img src="{{commande.colis.image.url}}" class="" style="width: 228px; height: 250px;" />
                            {% else %}
                            <img src="{% static 'assets/img/brand/default.png' %}">
                            {% endif %}
                            
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            Nature : <label class="form-control-label" for="input-first-name">{{commande.colis.nature}} </label>
                            <br>
                            Poids : <label class="form-control-label" for="input-first-name">{{commande.colis.weight}} kg</label>
                            <br>
                            Taille :
                            <label class="form-control-label" for="input-last-name">{{commande.colis.size}}</label>
                          </div>
                         </div>
                        
                      </div>



                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            Description  <p class="text-justify">{{commande.colis.description}} </p>
                            
                          </div>
                         </div>
                        <div class="col-lg-6">
                          <div class="form-group">

                            
                          </div>
                        </div>
                      </div>


                    </div>
                </div>

                <div class="col-lg-6">

                    <h6 class="heading-small text-muted mb-4">Conducteur</h6>
                    <hr class="my-4" />

                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            Nom : <label class="form-control-label" for="input-first-name">{{commande.driver.last_name}} </label>
                            
                          </div>
                         </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            Prénoms : <label class="form-control-label" for="input-first-name">{{commande.driver.first_name}}</label>
                            
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            Tél : <label class="form-control-label" for="input-first-name">{{commande.driver.person.tel}} </label>
                            
                          </div>
                         </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            Email :
                            <label class="form-control-label" for="input-last-name">{{commande.driver.email}}</label>
                            
                          </div>
                        </div>
                      </div>

        
                     
                     </div>

                  </div>
                </div>


              </div>
            <!-- Section 2-->
  
        </div>

      <div class="card" id="historique">
        <div class="card-body">
          <h3> Suivi du colis</h3>

           <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center  table-dark table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="">#</th>
                    <th scope="col" class="sort" data-sort="">Etat</th>

                    <th scope="col" class="sort" data-sort="">Date</th>
                    <th scope="col" class="sort" data-sort="">Heure</th>

                    <th scope="col" class="sort" data-sort="">User</th>


                    <th scope="col" class="sort" data-sort="nom">Commentaire</th>

                  </tr>
                </thead>
                <tbody class="list">
              
                 {% for h in commande.commandeHistorique.all.reverse %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                      {{ h.getEtatLibelle }} <br>
                      {% if h.agence %}{{ h.agence}} {% endif %}

                    </td>
                    <td class="">
                        {{ h.created_at|date:'j/m/Y' }} <br>

                    </td>
                    <td class="">
                      {{ h.created_at|date:'H:i' }} <br>

                    </td>
                    <td class="">
                      {{ h.user}}
                    </td>
                    <td>
                      {% if h.comment %}{{ h.comment }} {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

      </div>


    </div>


  </div>
</div>

    
{% endblock %}



{% block javascript %}

{% endblock %}