{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xl-12">


        <div class="card mb-3">
          <div class="p-4 text-center text-white text-lg bg-light rounded-top"><span class="text-uppercase">Historique Commande No - </span><span class="text-medium">{{ commande.numero_commande }}</span></div>
          <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Date de dépôt:</span> {{ commande.date_depot|date:'j M Y' }}</div>
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Statut:</span> {{ commande.getEtatLibelle }}</div>
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Date de livraison prévue:</span> {{ commande.date_reception|date:'j M Y'}}</div>
          </div>
          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
               {% for h in historiques %}
                {% if h.state == 2 %}
                <div class="step  completed" >
                <div class="step-icon-wrap">
                  <div class="step-icon" type="button"  data-placement="top"><i class="fa fa-money" ></i></div>
                </div>
                <h4 class="step-title">{{h.getEtatLibelle}}</h4>
                <p class="small">{{ h.created_at|date:'j M Y,H:i'   }}</p>
              </div>

                {% endif %}
                {% if h.state == 3 %}
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon" ><i class="fa fa-car"></i></div>
                </div>
                <h4 class="step-title">{{h.getEtatLibelle}}</h4>
                <p class="small">{{ h.created_at|date:'j M Y,H:i'   }}</p>

              </div>
            {% endif %}
             {% if h.state == 4 %}
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon" data-toggle="tooltip" data-placement="top" title={{ h.agence.name }}><i class="fa fa-box" ></i></div>
                </div>
                <h4 class="step-title">{{h.getEtatLibelle}}</h4>
                <p class="small">{{ h.created_at|date:'j M Y, H:i'  }}</p>
              </div>
            {% endif %}
             {% if h.state == 5 %}
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon" data-toggle="tooltip" data-placement="top" title={{ h.agence.name }}><i class="fa fa-calendar"></i></div>
                </div>
                <h4 class="step-title">{{h.getEtatLibelle}}</h4>
                 <p class="small">{{ h.created_at|date:'j M Y,H:i'   }}</p>

              </div>
            {% endif %}
             {% if h.state == 6 %}
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-check"></i></div>
                </div>
                <h4 class="step-title">{{h.getEtatLibelle}}</h4>
                <p class="small">{{ h.created_at|date:'j M Y,H:i'   }}</p>

              </div>
             {% endif %}

           {% endfor %}
          </div>
        </div>

            {% comment %}<div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">N° commande</th>
                    <th scope="col" class="sort" data-sort="budget">Etat</th>
                    <th scope="col" class="sort" data-sort="budget">Date</th>
                    <th scope="col" class="sort" data-sort="budget">Mis à jour par</th>

                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                {% for h in historiques %}
                  <tr>
                    <th scope="row">
                      {{ h.commande.numero_commande }}
                    </th>
                    <td class="">
                        {{h.getEtatLibelle}}
                    </td>
                    <td class="budget">

                    </td>
                    <td>

                       {{ h.user.get_full_name }}

                    </td>

                    <td class="text-right">

                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>{% endcomment %}
            <!-- Card footer -->
        {% comment %}  <div class="pagination">
                <span class="step-links">
                    {% if contacts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ contacts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                        <a href="?page={{ contacts.next_page_number }}">next</a>
                        <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>{% endcomment %}

          </div>
        </div>

    </div>
{% endblock %}

