{% extends 'base_frontend.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load widget_tweaks %}


{% block header %}

{% endblock %}

{% block content %}
<!-- Dark table -->
      <div class="row">
        <div class="col-12">
             <!-- Card header -->
          <div class="card">
            <div class="card-header bg-default border-0">
              <h3 class="mb-0 text-white ">Rechercher</h3>
            </div>
            <div class="card-body bg-transparent ">
                {% if filter %}
                <form action="" method="get" class="form">
                
                    <div class="row">
                      {% for filter in filter.form %}
                        <div class="form-group col-sm-3 col-md-2">
                           <label class="form-control-label" >{{ filter.label_tag }}</label>
                          {% render_field filter class="form-control" %}
                        </div>
                      {% endfor %}

                    </div>
                   <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">
                          <i class="fa fa-search"></i> Rechercher
                        </button>
                      </div>
                    </div>
                </form>
                {% endif %}
            </div>
          </div>
          <div class="card bg-default">
            <div class="card-header border-0">
              <h3 class="mb-0">Mes commandes</h3>
            </div>
            <!-- Light table -->

            <div class="table-responsive">        
              {% render_table table %}

            </div>
       
            
          </div>
            
          </div>
           



           <!-- Modal  for Assign-->
    <div class="modal fade" id="updateEtat" tabindex="-1" role="dialog" aria-labelledby="">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"> Commande N° <span class="cmd_num"> </span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                      </div>

                      <div class="modal-body">
                          <form>
                              <input type="text" name="cmdId" id="cmdId" value="" hidden/>

                          </form>
                            <p>Confirmez - vous la réception du colis?</p>

                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button class="btn btn-primary" id="btn-validate" type="button"
                                    data-action="{% url 'commandes:update_etat' %}">Oui</button>
                      </div>
                      </form>
                </div>
          </div>
    </div>
<!-- End modal -->

 
{% endblock %}
{% block javascript %}
  <script>
  $(document).on('click','.openModal', function () {
      var cmdId = $(this).data('id');
      var numero = $(this).data('cmd_num');
            $(".cmd_num").text( numero );

      $(".modal-body #cmdId").val( cmdId );
      $('#updateEtat').modal('show');

  });
  $(document).on('click','#btn-validate', function () {

        var cmd_id = $('#cmdId').val();
        console.log($(this).attr('data-action'));
        $.ajax({
            url: $(this).attr('data-action'),
            data: {'id':cmd_id, 'etat': 6},
            dataType: 'json',
            success: function (data) {
                if(data.statut == "success"){
                    toastr.success(data.message);
                    $('#updateEtat').modal('hide');
                    location.reload();
                }
            }
        });



  });


  </script>
{% endblock %}
