{% extends 'base_frontend.html' %}
{% load widget_tweaks %}
{% block header %}
{% endblock %}
{% block content %}

    <br>
        <div class="row">
            <div class="col-xl-5">
                <div class="card card-profile">
                     <div class="card-body">
                     <div class="row">
                          <div class="col-md-6">
                                <p><label class="bmd-label-floating">Ville de départ : </label>                                    {{ commande.city_depart }}</p>
                                

                          </div>
                          <div class="col-md-6">
                                   <p> <label class="bmd-label-floating">Ville d'arrivée : </label>
                                    {{ commande.city_arrive }}</p>
                          </div>
                     </div>

                     <div class="row">
                          <div class="col-md-6">
                                <p> <label class="bmd-label-floating">Date de dépôt : </label>
                                    {{ commande.date_depot|date:'j/m/Y' }}</p>
                          </div>
                          <div class="col-md-6">
                                  <p>  <label class="bmd-label-floating">Date de réception : </label>
                                    {{ commande.date_reception|date:'j/m/Y' }}</p>
                          </div>
                     </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="card">
                    <div class="card-header card-header-primary">
                      N° {{commande.numero_commande|upper}}
                    </div>
                    <div class="card-body">
                            <!-- Infos personnel -->

                        <div class="row">
                              <div class="col-md-6">
                                     <p> <label class="bmd-label-floating">Nature du colis : </label>
                                        {{ commande.colis.nature }}</p>
                              </div>
                              <div class="col-md-6">
                                     <p>   <label class="bmd-label-floating">Poids (en kg) : </label>
                                        {{ commande.colis.weight }}</p>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                                 <p> <label class="bmd-label-floating">Taille : </label>
                                 {{ commande.colis.size }}</p>
                                         
                              </div>
                              <div class="col-md-6">
                                    <p>    <label class="bmd-label-floating">Package d'envoi : </label>
                                  {{ commande.package }}</p>


                              </div>
                        </div>
                         <div class="row">
                              <div class="col-md-6">
                                  <p> <label class="bmd-label-floating">Commission : </label>
                                  {{ commande.commission }}</p>

                                
                              </div>
                              <div class="col-md-6">

                                      
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                                {% if commande.colis.image %}
                                <img src="{{commande.colis.image.url}}" class="img-thumbnail" />
                                {% endif %}
                                
                              </div>
                              <div class="col-md-6">

                                    <p>  <label class="bmd-label-floating"> </label>
                                       {{ commande.description }}</p>
                              </div>
                        </div>
                         



                     </div>
                </div>

            </div>
{% endblock %}