{% extends 'base_frontend.html' %}
{% load widget_tweaks %}
{% block header %}
{% endblock %}
{% block content %}

    
        <div class="row">
            <div class="col-xl-5">
                <div class="card card-profile">
                     <div class="card-body">
                     <div class="row">
                          <div class="col-md-6">
                                <p><label class="bmd-label-floating">Ville de départ : </label>                                    {{ commande.city_depart }}
</p>
                                

                          </div>
                          <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ville d'arrivée : </label>
                                    {{ commande.city_arrive }}
                                </div>
                          </div>
                     </div>

                     <div class="row">
                          <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Date de dépôt : </label>
                                    {{ commande.date_depot|date:'j/m/Y' }}
                                </div>
                          </div>
                          <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Date de réception : </label>
                                    {{ commande.date_reception|date:'j/m/Y' }}
                                </div>
                          </div>
                     </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="card">
                    <div class="card-header card-header-primary">
                    </div>
                    <div class="card-body">
                            <!-- Infos personnel -->

                        <div class="row">
                              <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Nature du colis: </label>
                                        {{ commande.colis.nature }}
                                    </div>
                              </div>
                              <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Poids (en kg) : </label>
                                        {{ commande.colis.weight }}
                                    </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Photo </label>
                                            {{ commande.colis.image }}
                                         
                                    </div>
                              </div>
                              <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Taille</label>
                                        {{ commande.colis.size }}
                                    </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Assurance</label>
                                        {{ commande.insurance }}
                                    </div>
                              </div>
                              <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="bmd-label-floating">Modèle d'envoi *</label>
                                        {{ commande.package }}
                                    </div>
                              </div>
                        </div>
                        <hr>
                         <div class="row">
                              <div class="col-md-12">
                                    <div class="form-group">
                                        {{ commande.description }}
                                    </div>
                              </div>

                        </div>



                     </div>
                </div>

            </div>
{% endblock %}