{% extends "base_frontend.html" %}
{% load static %}



{% block content %}
<div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-center">COMMANDE  DETAIL - #{{commande.numero_commande|upper}}</h3>
            </div>
            <div class="card-header bg-transparent border-0">
              
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <div class="col-4">
                        {% if commande.colis.image %}
                        <img src="{{commande.colis.image.url}}"  class="img-responsive" width="50%" />
                        {% endif %}
                    </div>
                    <div class="col-8">
                      <h6 class="heading-small text-muted mb-4">Commande Infos</h6>
                                          <hr class="my-4" />

                      <table class="table align-items-center table-flush">

                          <tr>
                            <td>N° Commande: <b>{{commande.numero_commande|upper}}</b></td>
                            <td>Prix: {% if commande.price %}<b> {{ commande.price }} F.CFA </b>{% endif %}</td>
                          </tr>

                          <tr>
                            <td>
                              Modèle d'envoi: <b>{{ commande.package }}</b>
                            </td>
                            <td>
                              Assurance: <b>{{ commande.insurance }}</b>
                            </td>
                          </tr>

                          <tr>
                            <td>Ville départ: <b>{{commande.city_depart}} </b></td>
                            <td>Ville d'arrivée: <b>{{commande.city_arrive}}</b></td>
                          </tr>
                          <tr>
                            <td>Date dépot:  <b>{{ commande.date_depot|date:'j/m/Y' }}</b></td>
                            <td>Date de livraison (souhaité):  <b>{{ commande.date_reception|date:'j/m/Y' }}</b></td>
                          </tr>

                          

                          <tr>
                            <td>Etat: <b>{{ commande.getEtatLibelle }}</b></td>
                            <td></td>
                          </tr>

                        </table>
                        <br>
                        <h6 class="heading-small text-muted mb-4">Colis détails</h6>
                          <hr class="my-4" />

                        <table class="table align-items-center table-flush">
                            <tr>
                              <td>Nature du colis: <b>{{commande.colis.nature}}</b></td>
                              <td>Poids: <b>{{commande.colis.weight}} kg</b></td>
                            </tr>
                            <tr>
                              
                              <td>Taille: <b> {{commande.colis.size}}</b></td>
                              <td>{{commande.colis.description}} </td>

                            </tr>

                            
                        </table>
                      </div>
                    </div>
                 

                </div>

                <div class="col-4" style="border-left: 1px solid #ddd;">
   <!-- Suivi du colis -->
                   <h6 class="heading-small text-muted mb-4">Historique</h6>
                    <hr class="my-4" />

                   <ul class="" style="list-style: none;">
                    {% for h in commande.commandeHistorique.all|dictsortreversed:"created_at"  %}
                      <li>
                        <p> 
                        <div class="col-auto">
                          <div class="icon icon-shape bg-orange text-white rounded-circle shadow" style="width: 4.5rem; height: 4.5rem;">
                            {% if h.state == h.ETAT_RECEPTIONNE %} <i class="fa fa-check" title="{{ h.getEtatLibelle }}"></i>{% endif %}
                            {% if h.state == h.ETAT_LIVRE %} <i class="fa fa-gift" title="{{ h.getEtatLibelle }}"></i>{% endif %}
                            {% if h.state == h.ETAT_EN_TRANSIT %} <i class="fa fa-car" title="{{ h.getEtatLibelle }}"></i>{% endif %}
                            {% if h.state == h.ETAT_EN_AGENCE %} <i class="fa fa-h-square" title="{{ h.getEtatLibelle }}"></i>{% endif %}
                            {% if h.state == h.ETAT_PAYE %} <i class="fa fa-money" title="{{ h.getEtatLibelle }}"></i>{% endif %}
                          </div>
                          {{ h.created_at|date:'d/m/Y H:i' }}
                          <p class="text-right">{% if h.agence %}{{ h.agence.name}} - {{ h.agence.district.city }}{% endif %}</p>
                          <p class="text-right"> {{ h.commentaire }}</p> 
                      </div>    
                        
                      </li>
                      
                     {% endfor %}

                   </ul>

                </div>
              </div>
              <!-- Row -->


            </div>
          </div>
        </div>
      </div>




{% endblock %}



{% block javascript %}

{% endblock %}