{% extends 'base_frontend.html' %}
{% load widget_tweaks %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid mt--6">
<!-- Dark table -->
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Mes commandes</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">N° commande</th>
                    <th scope="col" class="sort" data-sort="budget">Modèle d'envoi</th>
                    <th scope="col" class="sort" data-sort="status">Assurance</th>
                    <th scope="col" class="sort" data-sort="status">Nature du colis</th>
                    <th scope="col" class="sort" data-sort="budget">Prix</th>
                    <th scope="col" class="sort" data-sort="status">Image</th>
                    <th scope="col" class="sort" data-sort="status">Etat</th>

                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                {% for cmd in commandes %}
                  <tr id="accordion2" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ cmd.id }}">
                    <td scope="row">
                      {{ cmd.numero_commande|upper }}

                    </td>
                    <td class="">
                        {{cmd.modele}}
                    </td>
                    <td class="">
                        {{cmd.insurance.nom}}
                    </td>
                    <td class="">
                        {{cmd.colis.nature}}
                    </td>
                    <td class="budget">
                        {% if cmd.price %}
                            {{cmd.price}}
                        {% endif %}
                    </td>
                    <td class="">
                        {% if cmd.colis.image %}
                         <img src="{{ cmd.colis.image.url }}" style="width: 50px; height: 50px;">
                        {% endif %}
                    </td>

                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status">{{ cmd.getEtatLibelle }}</span>
                      </span>
                    </td>


                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            {% if cmd.status == 5 %}

                          <a class="dropdown-item openModal" title="Commande terminée"  data-toggle="modal" href="updateEtat"  data-id="{{ cmd.id }}">Réceptionné</a>
                            {% endif %}
                          <a class="dropdown-item" href="{% url 'commandes:historique_commande' cmd.id %}">Historique</a>
                          <a class="dropdown-item" href="#">Détails</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="hide-table-padding" style="background-color: #f0f5f7; color: #000000ba;">
                    <td colspan="12">
                        <div id="collapse{{ cmd.id }}" class="collapse in p-3" >
                            
                             
                                <b>Date de dépot</b> : {{ cmd.date_depot|date:'j F, Y' }}<br><br>
                                <b>Date de réception</b> : {{ cmd.date_depot|date:'j F, Y' }}<br><br>
                             
                                <b>Ville de départ</b>: {{ cmd.city_depart }}<br><br>
                                <b>Ville d'arrivée</b>: {{ cmd.city_arrive }} <br><br>
                             
                                <b>Poids</b>: {{ cmd.colis.weight }} kg <br><br>
                                <b>Taille</b>: {{ cmd.colis.size }}
                            
                         
                          
                        </div>
                      </td>
                   </tr>
                {% endfor %}

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
        <!-- Card footer -->



           <!-- Modal  for Assign-->
    <div class="modal fade" id="updateEtat" tabindex="-1" role="dialog" aria-labelledby="">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">

                           <h5 class="modal-title" id="exampleModalLabel"> Commande N°</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                      </div>

                      <div class="modal-body">
                          <form>
                              <input type="text" name="cmdId" id="cmdId" value="" hidden/>

                          </form>
                            <p>Etes-vous sûrs de vouloir terminer la commande?</p>

                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button class="btn btn-primary" id="btn-validate" type="button"
                                    data-action="{% url 'commandes:update_etat' %}">Oui</button>
                      </div>
                      </form>
                </div>
          </div>
    </div>
<!-- End modal -->
{% endblock %}
{% block javascript %}
  <script>
  $(document).on('click','.openModal', function () {
      var cmdId = $(this).data('id');
      $(".modal-body #cmdId").val( cmdId );
      $('#updateEtat').modal('show');

  });
  $(document).on('click','#btn-validate', function () {

        var cmd_id = $('#cmdId').val();
        console.log($(this).attr('data-action'));
        $.ajax({
            url: $(this).attr('data-action'),
            data: {'id':cmd_id, 'etat': 6},
            dataType: 'json',
            success: function (data) {
                if(data.statut == "success"){
                    toastr.success(data.message);
                    $('#updateEtat').modal('hide');
                    //location.reload();
                }
            }
        });



  });


  </script>
{% endblock %}
