{% extends "base_frontend.html" %}
{% load static %}



{% block content %}

  <div class="row">
      <div class="col-md-5">

          <div class="card card-default ">
            <div class="card-body">
              <div class="custom-heading">
                <h2>Commande </h2>
              </div>
              <table class="table">
                <tbody>
                  <tr>
                    <th>N° Commande</th>
                    <td>{{commande.numero_commande|upper}}</td>
                  </tr>
                  <tr>
                    <th>Etat:</th>

                    <td>{{ commande.getEtatLibelle }}</td>
                  </tr> 
                  <tr>
                      <th>Prix:</th>
                      <td>{% if commande.price %} {{ commande.price }} F.CFA {% endif %} </td>
                  </tr> 
                  <tr>
                   <th>Package d'envoi:</th>

                    <td>{{ commande.package }}</td>
                  </tr>     
                     
                  <tr>
                    <th>Assurance?</th>
                    <td>{{ commande.insurance }}</td>
                    </tr> 
                  <tr>

                    <th>Nature du colis:</th>

                    <td>{{ commande.colis }}</td>
                  </tr>        
                  <tr>
                    <th>Taille :</th>
                    <td>{{commande.colis.size}}</td>
                  </tr>
                        
                  <tr>
                    <th>Poids:</th>
                    <td>{{commande.colis.weight}} Kg</td>
                  </tr> 
                  <tr>
                    <th>Image:</th>
                    <td>{% if commande.colis.image %}
                      <img src="{{commande.colis.image.url}}" class="" style="width: 108px; height: 70px;" />
                      
                      {% endif %}
                    </td>
                  </tr>  
                  <tr>
                    <th>Autres infos:</th>
                    <td>{{commande.colis.description}}</td>
                  </tr>      
                  
                  </tbody>
                </table>
            </div>
          </div>

          <div class="card card-default ">
            <div class="card-body">
              <div class="custom-heading">
                <h2>Trajet </h2>
              </div>
              <table class="table">
                  <tbody>
                    
                     <tr>
                      <th>Ville de départ:</th>
                      <td>{{commande.city_depart}}</td>
                    </tr>
                    <tr>
                      <th>Ville d'arrivée:</th>
                      <td>{{commande.city_arrive}}</td>
                    </tr>
                    <tr>
                      <th>Date de départ:</th>
                      <td></td>
                    </tr>
                    <tr>
                      <th>Date de réception:</th>
                      <td></td>
                    </tr>
                  
                  </tbody>
                </table>
            </div>
          </div>
         
        </div>
        <div class="col-md-7">
          <div class="card card-default ">
              <div class="card-body">
                <div class="custom-heading">
                  <h2>Historique</h2>
                </div>
                <table class="table">
                  <tbody>
                    {% for h in commande.commandeHistorique.all.reverse %}
                    <tr>
                        <th>{{ h.created_at|date:'j/m/Y H:i'   }}</th>
                    

                        <th>{{h.getEtatLibelle}}</th> 
                        <th>{% if h.agence %}{{ h.agence}} {% endif %}</th>
                        <th>{{ h.comment}}</th>
                    {% endfor %}
                  
                    <tr>
                      <td colspan="2">
                         
                      </td>
                    </tr>                    
                    

                   </tbody>
                </table>
              </div>
          </div>


                 
          

        </div>
    </div>

<!-- End row -->




{% endblock %}



{% block javascript %}

{% endblock %}