{% extends 'base.html' %}
{% block header %}

<div class="row align-items-center py-4">
    <div class="col-lg-6 col-7">
      <h6 class="h2 text-white d-inline-block mb-0">Frais</h6>
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active" aria-current="page">Frais</li>
        </ol>
      </nav>
    </div>

</div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-4">
          <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Frais</h3>
                    </div>
                  </div>
                </div>
              <div class="card-body">
                <form method="post" name="add-form" class="" autocomplete="off">
                     {% csrf_token %}
                     {{ form.errors }}

                    <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" >{{ form.min_weight.label }}</label>
                              {{ form.min_weight }}
                          </div>
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" >{{ form.max_weight.label }}</label>
                              {{ form.max_weight}}
                          </div>
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" >{{ form.price.label }}</label>
                              {{ form.price }}
                          </div>
                        </div>
                     </div>

                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" >{{ form.commission.label }}</label>
                              {{ form.commission }}
                          </div>
                        </div>
                     </div>


                    <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
                 </form>
              </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
          <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Liste des frais</h3><a style="float:right;" class="btn btn-primary mt-4" href="{% url 'commandes:tranche_create' %}">Ajouter</a>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="nom">#</th>

                    <th scope="col" class="sort" data-sort="nom">Plage (en Kg)</th>
                    <th scope="col" class="sort" data-sort="quartier">Prix (CFA) </th>
                    <th scope="col" class="sort" data-sort="nom">Commision (%)</th>

                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="list">
                {% for tranche in object_list %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                     <b>[{{ tranche.min_weight }} _ {{tranche.max_weight }}]</b>
                    </td>
                   
                    <td>
                       {{ tranche.price|floatformat }}
                    </td>
                    <td>
                       {{ tranche.commission }}
                    </td>
                    <td class="">
                        <a href="{% url 'commandes:tranche_update' tranche.id %}" class="btn btn-light"><i class="fa fa-edit" title="Modifier"></i></a>
                        <a href="{% url 'commandes:tranche_delete' tranche.id %}" title="Supprimer" class="btn btn-danger"><i class="fa fa-remove"></i></a>

                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Card footer -->
        {% comment %}  <div class="pagination">
                <span class="step-links">
                    {% if contacts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ contacts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                        <a href="?page={{ contacts.next_page_number }}">next</a>
                        <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>{% endcomment %}
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

    </div>
{% endblock %}